.video-container {
    position: relative;
    height: 100vh; /* Gör så att komponenten täcker hela höjden av viewporten */
    overflow: hidden; /* Döljer eventuell överflödig del av videon */
}

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; /* Skicka videon bakom annat innehåll */
    transform: translate(-50%, -50%); /* Centrera videon */
}

.content {
    position: relative; /* Gör att innehållet ligger ovanpå videon */
    z-index: 1; /* Se till att detta är ovanför videon */
    color: white; /* Textfärg för bättre kontrast mot video */
    text-align: center; /* Centrera texten */
}