.cart-container {
    display: block; 
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    background-color: var(--mainColor);
}

.cart-item {
    flex: 1 1 250px; 
    border: 1px solid var(--brigherRed);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: var(--mainColor);
    transition: transform 0.2s;
    margin-bottom: 20px; 
    text-align: center;
    margin-top: 10px;
}
.cart-items {
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center;
}

.checkOut-container {
    margin-top: 20px;
    text-align: center; 
}

.coupon-section div {
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    max-height: 0;
    overflow: hidden; 
    opacity: 0; 
}

.coupon-section div.active {
    max-height: 100px; 
    opacity: 1; 
}


.coupon-section input {
    margin-top: 10px;
    padding: 10px;
    width: 100%; 
    max-width: 300px; 
    border: 1px solid var(--brigherRed);
    border-radius: 4px;
}

.coupon-section button {
    margin-top: 10px;
    padding: 10px;
    background-color: var(--brigherRed);
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    max-width: 200px; /* Sätt en maxbredd */
    width: auto; /* Gör den inte 100% bred */
    display: inline-block; /* Gör knappen inline-block för centrering */
    margin-left: 15px;
}

.coupon-section {
    text-align: center; /* Centrera hela sektionen */
}

.coupon-section button:hover {
    background-color: var(--darkRed);
    transform: translateY(-2px);
}

.checkout-button {
    padding: 8px 12px; 
    background-color: var(--brigherRed);
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s, transform 0.3s; 
    margin-top: 10px; 
    max-width: 200px; 
    width: 100%; 
}


@media (min-width: 768px) {
    .checkout-button {
        padding: 8px 16px; 
        font-size: 1.1em; 
        max-width: 250px; 
    }
}


@media (min-width: 1200px) {
    .checkout-button {
        padding: 10px 20px; 
        font-size: 1.2em; 
        max-width: 300px; 
    }
}

.checkout-button:hover {
    background-color: var(--darkRed);
    transform: translateY(-1px); /* Lyft effekt vid hover */
}

.total-amount {
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.cart-item:hover {
    transform: translateY(-5px);
}

.cart-image {
    max-width: 150px;
    height: auto; 
    margin-bottom: 10px; 
}
.cart-button {
    width: 100%;
    padding: 10px;
    background-color: var(--brigherRed);
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.cart-button:hover {
    background-color: var(--darkRed);
    transform: translateY(-2px);
}

.empty-cart {
    text-align: center;
    color: var(--brigherRed);
}

.error {
    color: red;
    text-align: center;
}



.checkOut-container {
    margin-top: 20px;
}

.checkOut-container input,
.checkOut-container select {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

.checkOut-container button {
    margin-top: 10px;
}
