.cart-container {
    display: block; 
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    background-color: var(--mainColor);
}

.cart-item {
    flex: 1 1 250px; 
    border: 1px solid var(--brigherRed);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: var(--mainColor);
    transition: transform 0.2s;
    margin-bottom: 20px; 
    text-align: center;
    margin-top: 10px;
}
.cart-items {
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center;
}

.cart-item:hover {
    transform: translateY(-5px);
}

.cart-image {
    max-width: 150px;
    height: auto; 
    margin-bottom: 10px; 
}
.cart-button {
    width: 100%;
    padding: 10px;
    background-color: var(--brigherRed);
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.cart-button:hover {
    background-color: var(--darkRed);
    transform: translateY(-2px);
}

.empty-cart {
    text-align: center;
    color: gray;
}

.error {
    color: red;
    text-align: center;
}

