.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid var(--brigherRed);
    border-radius: 8px;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.2); /* Mörkare skugga för djup */
    background: linear-gradient(135deg, var(--mainColor) 0%, var(--darkRed) 100%); /* Gradient bakgrund */
}

h1 {
    text-align: center;
    color: var(--brigherRed);
}

h2 {
    margin: 10px 0 5px;
    color: var(--brigherRed); /* Lägg till färg för rubriker */
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--brigherRed);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.1); /* Halvtransparent bakgrund för input */
    color: var(--brigherRed);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* Subtil skugga för input-fält */
}

input:focus {
    border-color: white; /* Färg på ramen när fältet är i fokus */
    outline: none; /* Ta bort standardfokuslinje */
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.7); /* Lättare skugga vid fokus */
}

::placeholder {
    color: rgba(255, 255, 255, 0.7); /* Halvtransparent färg för placeholder */
}

button {
    width: 100%;
    padding: 10px;
    background-color: var(--brigherRed);
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Skugga för knappen */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition */
}

button:hover {
    background-color: var(--darkRed);
    transform: translateY(-2px); /* Lyft effekt vid hover */
}

.fade-in {
    opacity: 0; 
    animation: fadeIn 1s forwards; 
}

@keyframes fadeIn {
    to {
        opacity: 1; 
    }
}