    button {
        background-color: #ff4b5c; /* Röd färg */
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
    }
    
    button:hover {
        background-color: #ff1e3f; /* Mörkare röd vid hover */
    }